<div class="container-fluid px-20">
  <div class="row row-cols-1 row-cols-md-{{ cards.cardsPerRow }} g-4">
    <div class="col" *ngFor="let card of cards.cards">
      <app-button-card-info [cardProps]="card"></app-button-card-info>
    </div>
  </div>
  <div class="row row-cols-1 g-4">
    <div class="col">
      <div class="card card-border-octaocean py-4 bg-transparent">
        <div class="card-body text-center fw-bolder">
          <h2 class="card-title white-text-octaocean pb-4">{{ cards.title }}</h2>
          <a [routerLink]="cards.buttonUrl" class="btn bg-button-octaocean-gradient-pink">{{ cards.buttonName }}</a>
        </div>
      </div>
    </div>
  </div>
</div>