.bg-button-octaocean-gradient-pink {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgb(160, 0, 107) !important;
  border-color: rgb(160, 0, 107) !important;
}

.bg-button-octaocean-gradient-pink:hover {
  background-color: rgb(160, 0, 107) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.card-border-octaocean {
  border: 2px solid #072658 !important;
  border-radius: 10px !important;
}
