<section class="container-fluid text-center">
  <div class="row py-20 white-text-octaocean">
    <span class="h1 fw-bolder">{{ footer.titleCommunity }}</span>
    <div class="container d-flex justify-content-center">
      <div class="row mt-4">
        <div class="col-auto h2" *ngFor="let brand of footer.community">
          <a class="white-text-octaocean" href="{{ brand.url }}">
            <i class="{{ brand.icon }}"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="text-center">
  <div class="py-5 fw-bolder bg-transparent">
    <span class="white-text-octaocean bg-transparent">{{ footer.titleFooter }}</span>
    <br />
    <span class="muted-text-octaocean bg-transparent">{{ footer.subtitleFooter }}</span>
  </div>
</footer>