<nav class="navbar navbar-expand-lg navbar-dark bg-octaocean">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../../../../assets/img/logo/logo.png" alt="octaocean" width="150px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#homeNavbar"
      aria-controls="homeNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="homeNavbar">
      <ul class="navbar-nav">
        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]=""><strong>Buy</strong></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]=""><strong>Convert</strong></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]=""><strong>Trade</strong></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]=""><strong>Earn</strong></a>
        </li>
        <li class="nav-item mx-1">
          <a class="nav-link" [routerLink]=""><strong>Lend</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarHomeDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" (click)="handleDrowpdownClick($event)">
            <i class="fa-solid fa-bars" *ngIf="!isDropdownOpen"></i>
            <i class="fa-solid fa-times" *ngIf="isDropdownOpen"></i>
          </a>
          <ul class="dropdown-menu bg-dropdown-button-octaocean" aria-labelledby="navbarHomeDropdown">
            <li class="mx-1 bg-dropdown-button-octaocean">
              <a class="nav-link bg-dropdown-button-octaocean fw-bolder" [routerLink]="">
                Invest
              </a>
            </li>
            <li class="mx-1 bg-dropdown-button-octaocean">
              <a class="nav-link bg-dropdown-button-octaocean fw-bolder" [routerLink]="">
                Analytics
              </a>
            </li>
            <li class="mx-1 bg-dropdown-button-octaocean">
              <a class="nav-link bg-dropdown-button-octaocean fw-bolder" [routerLink]="">
                Learn
              </a>
            </li>
            <li class="mx-1 bg-dropdown-button-octaocean">
              <a class="nav-link bg-dropdown-button-octaocean fw-bolder" [routerLink]="">
                Roadmap
              </a>
            </li>
            <li class="mx-1 bg-dropdown-button-octaocean">
              <a class="nav-link bg-dropdown-button-octaocean fw-bolder" [routerLink]="">
                Legacy
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item mx-1 my-1">
          <a class="btn btn-block btn-sm bg-button-octaocean-gradient-blue rounded-blue fw-bolder" [routerLink]="">Bug
            Bounties</a>
        </li>
        <li class="nav-item mx-1 my-1">
          <a class="btn btn-block btn-sm bg-button-octaocean-gradient-pink rounded-pink fw-bolder"
            [routerLink]="">Connect Wallet</a>
        </li>
      </ul>
    </div>
  </div>
</nav>